<div class="text-xs-center" id="sampleProgress">Random progress&hellip; <%= progress %>%</div>
<progress class="progress" value="<%= progress %>" max="100" aria-describedby="sampleProgress"></progress>
<button class="sample__button btn btn-primary">Fetch from server</button>
<span><%= date %></span>